*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  body{
    background-color: aliceblue;
  }
  header{
    background-color: darkcyan;
    color: white;
  }
  .formBx{
    background-color: white;
  }
  .blogCard{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }